# Coverage
coverage/
lcov.info

# Dotenv file
.env

# JS dependencies
node_modules/

# Typechain generated and artifacts
/src/types/generated

# Compiled production code
/dist/
.yalc
yalc.lock

# Databases
database*